{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}


{% block link %}
<link rel="stylesheet" href="{{ url_for('user_page.static', filename = 'log.css') }}">
{% endblock %}

{% block content %}
<style>
  body{
  background-image: url(https://s3-alpha-sig.figma.com/img/fb48/7d2d/721d1b4173c40e1d8ba2cd74b1daa2db?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dq7CXfrEQWioN0ZX3qpd6FMKmy8fdMTULBMgJNC1KT~O8~1H01zUSxcmtI2kjSw763Tw3cGEDW2lhujA-lsQrzclhHjRR-0gfXJrvIA-pRV0f6ILMfdGuNei0N0~8Qj0RJjpZMs0o5uKWMMzv7sOzwefrXUN~Z3N8zbWS9AuH6I53BY4IIoJ9REOo5pW6~yjjWbT4RveOJUzRkuJD7tWsSKlxGkAMCq8X1y1ZsLPk3QcAJ8jbPDRPp8B5C65qg3yRgZG2TuBtgmFNnuAji9QqkCODjO8w4nMhyqUNXtwPnDHVdVqfMHT-MTyUVHD32uln2DQBZmmyyZQ-AZCdPM72g__)
  }
</style>
<header>
  <div class = "link">
      <a href="/home">Home</a>
  </div>
</header>
   <form method="post">
    <h2>LOGIN YOUR AСCOUNT</h2>
    <h1>Your username:</h1>
    <input type="text" name="username" required>
    <h1>Your password:</h1>
    <input type="text" name="password" required>
    <button type = 'submit' id = "login-button" >Send</button>
  </form>
  

{% endblock %}