{% extends "base.html" %}


{% block title %}
  Registration
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('user_page.static', filename = 'reg.css') }}">
{% endblock %}


{% block content %}
<!-- <style>
  body{
  background-image: url(https://s3-alpha-sig.figma.com/img/b7bb/49a3/306552e59cd95a8327daf0a4f6274ea4?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Y6q6V8m~YFZ5klJqpCU-bWVviD8QyvI0uq8w-8y0~r33ZQlZDd0ozgUYpBeMsqb87p5gea-PrbJ41IAugpYkGAzdjDxPA0s2cQ7ytkpiRlZOjxvRH4UQpszx~0aHUyFutW-23ButTTnAk0cyeVnkaZ9iEpOyvaBbs0yMN1bbrRMIwe4RHEqaoZVwdqsBnaN2YzAMECD3ViNtNWCMN8tit~5Oe8IY~z5-IYyOT2ppJfyvMS338qkD5gmficyAgeIvTdXVN6FBKc6B1VKgJ3YzcNQoNPu9F7NA474wMv1DoQccd8aWHomF-tLmLQ0qKtIgAmkCFXoKncsoRwXEtihISg__)
  }
</style> -->
<header>
  <div class = "link">
      <a href="/">Home</a>
  </div>
</header>

  <form method="post">
    <h2>REGISTR YOUR AСCOUNT</h2>
    <h1>Username:</h1>
    <input type="text" name="username" placeholder="First and last name" required>
    <h1>Password:</h1>
    <input type="text" name="password" placeholder="at least 6 characters" required>
    <button type = 'submit' id = "reg-button">Send</button>
  </form>

{% endblock %}