header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:  #557689;
    height: 87px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url('user_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    
}




header .link a {
    width: 112px;
    height: 39px;
    font-size: 42;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    margin-left: 90%;
    text-decoration: none;
    margin-top: 15px;
    font-weight: bold;
    
}



.link2 {
    display: flex;
    gap: 200px; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 500px; 
 
}


.link2 a {
    color: black;
    font-size: 78px;
    text-decoration: none;
    font-weight: bold;
}

